<h1>
    <%= @game.player1.name %> vs <%= @game.player2.name %>
</h1>
    <%= @game.player1.name %>: <%= @game.player1.hp %> HP
    <br>
    <%= @game.player2.name %>: <%= @game.player2.hp %> HP
    <br>
    <%= @game.attacking_player.name %>'s turn

<% if @game.attacking_player.paralyzed? %>

    <br>
    <%= @game.attacking_player.name %> is paralyzed
    <br>
    <form action=/switch_turns method=post>
        <input type=submit value=Next>
    </form>

 <% elsif @game.attacking_player.is_a?(Computer) %>

    <form action=/computer_move method=post>
        <input type=submit value="Computer's turn">
    </form>

<% else %>

    <form action=/attack method=post>
        <% @game.attacking_player.attack_list.each do |move| %>
            <input type=submit name=move_name value=<%= move %>>
        <% end %>
    </form>

    <form action=/defend method=post>
        <% @game.attacking_player.defence_list.each do |move| %>
            <input type=submit name=move_name value=<%= move %>>
        <% end %>
    </form>
    
<% end %>