<h1>
    <%= @game.player1.name %> vs <%= @game.player2.name %>
</h1>
    <%= @game.player1.name %>: <%= @game.player1.hp %> HP
    <br>
    <%= @game.player2.name %>: <%= @game.player2.hp %> HP
    <br>
    <%= @game.attacking_player.name %>'s turn

<% if @game.attacking_player.is_a?(Computer) %>
    <form action=/attack method=get>
        <input type=submit value='Receive incoming attack'>
    </form>
<% else %>
    <form action=/attack method=get>
        <input type=submit value='Attack <%= @game.defending_player.name%>'>
    </form>
<% end %>